*{
   font-family: "Gill Sans", sans-serif;

}

.nav-link:hover {
   background-color: #630E0D !important;
   color: #E9C75A !important;
}

.nav-link .fa {
   transition: all 1s
}

.nav-link:hover .fa {
   transform: rotate(360deg)
}

.header{
   background: #E9C75A !important;
   margin: 0;
   color: #630E0D;
   text-decoration: underline;
}


.logout>button{
   border-radius: 10px;
   margin-top: 0in;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 4in;
}

.d-flex{
   background-color: #E9C75A;
   color: #630E0D !important;
}

li{
   margin-top: .2in;
   color: #630E0D !important;
}

a{
   color: #630E0D !important;
}

footer{
   font-size: 10.5px !important;
}

h1{
   text-decoration: none !important;
}

h3{
   text-align: center;
   color:  #630E0D !important;
}

.logout{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
