* {
   font-family: Georgia, serif !important;

}

img.logo{
   height: 130px;
   display: block;
   margin-right: auto;
   margin-left: auto;
}

.col-auto{
   background-color: #E9C75A !important;
}

.header{
   background: #630E0D !important;
   margin: 0;
   color: #E9C75A;
   text-decoration: underline;
}

span{
   color: #000;
}

a:hover span:hover{
   background-color:#630E0D;
   color: #dad2ba;
}

.logout>button{
   border-radius: 10px;
   margin-top: 0in;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 4in;
}

td{
   font-weight: bold;
   text-align: center;
}
