body {
  font-family: "Lato", sans-serif;
  background: #AF0909 !important;
}

img.logo{
  height: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.col-12{
  background: #FFC100  !important;
}

img.user{
  float: right;
  margin-right: 4in;
}

h1{
  text-align: center;
}

button.btn{
  width: 2in;
  border-radius: 20px;
  margin: 20px;
}

.dashbtn{
  position: absolute;
  margin-top: 2in !important;
  margin-left: 4in;
  margin-right: auto;
}

.logout{
  margin-top: 2in !important;
}