

body {
  background-image: url("popcorn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  font-family: Georgia, serif;
}

.loginForm{
       text-align: center;
       margin-top: 85px;
        margin-left: auto;
        margin-right: auto;
        background-color: #F6D55C;
        padding: 3vw;
        width: 30%;
        position: center;
        border-radius: 30px;
}
        .logo{
          height: 50% !important;
          display: block;
          margin-left: auto;
          margin-right: auto;
          position: relative;
        }


.login{
  font-size: 90%;
  font-weight: bolder;
}

form{
  font-size: 24%;

}