body {
  font-family: "Lato", sans-serif;
  background: #AF0909 !important;
}

img.logo{
  height: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.col-12{
  background: #FFC100  !important;
}

h1{
  text-align: center;
  font-size: 50%;
  font-family: "Lato", sans-serif; 
  color: #FFC100;
  margin-top: 100px;
}

button.btn{
  width: 2in;
  padding: 5px;
  border-radius: 50px;
  margin: 10px;
  margin-left: 10px;
}

.dashbtn{
  width: 4px;
  position: absolute;
  margin-top: 1in !important;
  margin-left: 5in;
  margin-right: auto;
  border-radius: 20px;
}

.logoutbtn{
  margin-top: 10px !important;
  margin-left: 5px;
}

.navbar {
  margin-left: 25;
  width: 100%;
  background-color: #FFC100  !important;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 20px;
  color:#AF0909;;
  text-decoration: none;
  font-size: 25px;
  margin-left: 30px;
}

.navbar a:hover {
  background-color: #FFC100  !important;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 15%;
  width: 100%;
  background-color:  #FFC100;
  color: white;
  text-align: center;
}
