*{
    font-family: Georgia, serif !important;
}



a.nav-link{
    float: right !important;
    font-size: 20px;
    color: black;
}

.box{
    background: #f7edb0;
}

#parallax-image{
    background-image: url("assets/pop2.jpg");
    height: 548px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a.hmebtn{
    color: #f7edb0 !important;
    text-decoration: none;
}

img.logo{
    margin-top: 70px;
    margin-left: 8.7in;
    height: 40%;
    width: 30%;
    margin-right: 2.5in;
    position: absolute;
}

#parallax-image2{
    background-image: url("assets/pop3.jpg");
    height: 50px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    padding-bottom: 500px;
}

h1.text-center{
    float: right !important;
    color: whitesmoke;
    margin-right: 2in;
    position: relative;
    text-decoration: underline;
}

h1.tagline{
    float: right !important;
    color: whitesmoke !important;
    position: relative;
    margin-right: 3.4in;
    text-align: justify;
    margin-top: 10px;
}

.col-md-12{
    margin-top: 20% !important;
}

a.btn{
    min-width: 80px;
    float: right;
    margin-right: 3.2in !important;
    font-size: 50px !important;
    border-radius: 30px !important;
}

.cont{
    background: #363B3D;
    padding-top: 10px;
}

.container{
    margin-top: 20px !important;
}

h2.midLine{
    position: absolute;
    margin-left: 3.5in;
    margin-bottom: 50px;
    color: whitesmoke;
}

svg.line{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr{
    color: whitesmoke !important;
}

img.arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.bgd{
    background-color: hsla(54, 100%, 38%, 0.32);
    margin-right: 3in !important;
    margin-left: 3in;
    position: relative;
    border-radius: 20px;
    padding-top: 90px;
}

h2.lastTag{
    color: #363B3D;
}

img.icons{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.abt{
    font-size: 90px !important;
    color: black;
    margin-left: 6.2in;
}